button, input[type=submit], input[type=button], .btn2 {
    display:inline-block;
    background: #e6e6e6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FeFeFe,endColorstr=#e6e6e6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FeFeFe,endColorstr=#e6e6e6)";
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#FeFeFe),to(#e6e6e6));
    background: -moz-linear-gradient(-90deg,#FeFeFe,#e6e6e6);
    background: -o-linear-gradient(#FeFeFe,#e6e6e6);
    border:1px solid #eee;
    text-align:center;
    color:#6F6F70;
    text-shadow: 0 1px 0 #fff;
    padding:5px 15px;
    font-size:1.1em;
    border-radius:3em 3em 3em 3em;
    -moz-border-radius:3em;
    -webkit-border-radius:3em;
    box-shadow: 0 1px 3px #fff inset, 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #fff inset, 0 1px 3px #999;
    -moz-box-shadow: 0 1px 3px #fff inset, 0 1px 3px #999;
}
button:hover, input[type=submit]:hover, input[type=button]:hover, .btn2:hover {
    background: #e6e6e6;
    color:#3F3F40;
    border-color:#c6c6c6;
    box-shadow: 0 1px 5px #B6B6B6 inset, 0 1px 3px #eee;
    -webkit-box-shadow: 0 1px 5px #B6B6B6 inset, 0 1px 3px #eee;
    -moz-box-shadow: 0 1px 5px #B6B6B6 inset, 0 1px 3px #eee;
    text-decoration:none;
}
.btn2.big {
    display:inline-block;
    text-align:center;
    border-radius:3em 3em 3em 3em;
    -moz-border-radius:3em;
    -webkit-border-radius:3em;
    position:relative;
    padding:15px 40px;
    font-size:1.6em;
}
.btn2.blue {
  background: #569ABF;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#569ABF,endColorstr=#447A98);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#569ABF,endColorstr=#447A98)";
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(#569ABF),to(#447A98));
  background: -moz-linear-gradient(-90deg,#569ABF,#447A98);
  background: -o-linear-gradient(#569ABF,#447A98);
  border:1px solid #447A98;
  color:#FFF;
  text-shadow: 0 1px 0 #447A98;
  box-shadow: 0 1px 5px #8FD7FE inset, 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 5px #8FD7FE inset, 0 1px 3px #999;
  -moz-box-shadow: 0 1px 5px #8FD7FE inset, 0 1px 3px #999;
}
.btn2.blue:hover{
  box-shadow: 0 1px 5px #447A98 inset, 0 1px 3px #eee;
  -webkit-box-shadow: 0 1px 5px #447A98 inset, 0 1px 3px #eee;
  -moz-box-shadow: 0 1px 5px #447A98 inset, 0 1px 3px #eee;
  text-decoration:none;
}
.btn2.orange {
    background: #FF9238;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9238,endColorstr=#F74A4A);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9238,endColorstr=#F74A4A)";
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#FF9238),to(#F74A4A));
    background: -moz-linear-gradient(-90deg,#FF9238,#F74A4A);
    background: -o-linear-gradient(#FF9238,#F74A4A);
    border:1px solid #F74A4A;
    color:white;
    text-shadow: 0 1px 0 #B30A0A;
    box-shadow: 0 1px 5px #FF9238 inset, 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 5px #FF9238 inset, 0 1px 3px #999;
    -moz-box-shadow: 0 1px 5px #FF9238 inset, 0 1px 3px #999;
}
.btn2.orange:hover {
    box-shadow: 0 1px 5px #F74A4A inset, 0 1px 3px #eee;
    -webkit-box-shadow: 0 1px 5px #F74A4A inset, 0 1px 3px #eee;
    -moz-box-shadow: 0 1px 5px #F74A4A inset, 0 1px 3px #eee;
    text-decoration:none;
}
