.btn2 {
    display:inline-block;
    background: #e6e6e6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FeFeFe,endColorstr=#e6e6e6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FeFeFe,endColorstr=#e6e6e6)";
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#FeFeFe),to(#e6e6e6));
    background: -moz-linear-gradient(-90deg,#FeFeFe,#e6e6e6);
    background: -o-linear-gradient(#FeFeFe,#e6e6e6);
    border:1px solid #eee;
    text-align:center;
    color:#6F6F70;
    text-shadow: 0 1px 0 #fff;
    padding:5px 15px;
    font-size:1.1em;
    border-radius:3em 3em 3em 3em;
    -moz-border-radius:3em;
    -webkit-border-radius:3em;
    box-shadow: 0 1px 3px #fff inset, 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #fff inset, 0 1px 3px #999;
    -moz-box-shadow: 0 1px 3px #fff inset, 0 1px 3px #999;
}
.btn2:hover {
    background: #e6e6e6;
    color:#3F3F40;
    border-color:#c6c6c6;
    box-shadow: 0 1px 5px #B6B6B6 inset, 0 1px 3px #eee;
    -webkit-box-shadow: 0 1px 5px #B6B6B6 inset, 0 1px 3px #eee;
    -moz-box-shadow: 0 1px 5px #B6B6B6 inset, 0 1px 3px #eee;
    text-decoration:none;
}
.btn2.big {
    display:inline-block;
    text-align:center;
    border-radius:3em 3em 3em 3em;
    -moz-border-radius:3em;
    -webkit-border-radius:3em;
    position:relative;
    padding:15px 40px;
    font-size:1.6em;
}